vaadin-checkbox[theme~="switch"] {
    text-wrap: nowrap;
}

vaadin-checkbox[theme~="switch"]::part(checkbox) {
    width: var(--lumo-size-m);
    border-radius: 9999px;
}

vaadin-checkbox[theme~="switch"]::part(checkbox)::after {
    content: "";
    height: calc(var(--lumo-size-m) / 3);
    width: calc(var(--lumo-size-m) / 3);
    margin: calc(var(--lumo-size-m) / 12);
    border-radius: 9999px;
    background-color: var(--lumo-secondary-text-color);
    transition: transform 0.2s;
    inset: 0;
    opacity: 1;
}

vaadin-checkbox[theme~="switch"][checked]::part(checkbox)::after {
    background-color: var(--lumo-primary-contrast-color);
    transform: translateX(calc(var(--lumo-size-m) / 2));
}