@import url('./main-layout.css');
@import url('./components/checkbox-switch.css');
@import url('./views/event-registrations-view.css');
@import url('./views/edit-view.css');
@import url('./views/registrations-view.css');

html {
    --lumo-border-radius: 0.125em;
    --lumo-primary-text-color: rgb(35, 87, 135);
    --lumo-primary-color-50pct: rgba(0, 114, 187, 0.5);
    --lumo-primary-color-10pct: rgba(0, 114, 187, 0.1);
    --lumo-primary-color: hsl(203, 100%, 37%);
    --lumo-success-text-color: rgb(0, 168, 149);
    --lumo-success-color-50pct: rgba(0, 168, 149, 0.5);
    --lumo-success-color-10pct: rgba(0, 168, 149, 0.1);
    --lumo-success-color: hsl(173, 100%, 33%);
    --lumo-error-text-color: rgb(238, 64, 36);
    --lumo-error-color-50pct: rgba(238, 64, 36, 0.5);
    --lumo-error-color-10pct: rgba(238, 64, 36, 0.1);
    --lumo-error-color: hsl(8, 86%, 54%);
}

vaadin-button {
    cursor: pointer;
}

.delete-icon {
    cursor: pointer;
    color: var(--lumo-error-color);
}
.action-icon {
    cursor: pointer;
}

