.event-registrations-view {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.event-registrations-view vaadin-grid {
    height: 100%;
}

.event-registrations-view .grid-container {
    flex: 1;
    overflow-y: auto;
}

.event-registrations-view .button-layout {
    width: 100%;

    background-color: var(--lumo-contrast-5pct);
    padding-bottom: var(--lumo-space-s);
    padding-top: var(--lumo-space-s);
    padding-left: var(--lumo-space-l);
    padding-right: var(--lumo-space-l);
    gap: var(--lumo-space-m);
}

